$font-hotel: 14px;
$font-hotel--sm: 11px;
$font-hotel--lg: 30px;

$border-color: #555;
$primary-color: #666;
$black-color: #222;
$yellow-color: #f39c12;
$blue-color: #2980b9;
$grey-color: #ecf0f1;
$purple-color: #8e44ad;

.hotel {
	font-size: $font-hotel;
	color: $primary-color;
	border: 1px solid $border-color;
	border-radius: 5px;
	margin-bottom: 40px;
	padding-left: 0;
	box-shadow: 1px 5px 20px 0px #999;
	background-color: $grey-color;
	overflow: hidden;
	transition: border-color 0.3s ease;

	&:hover {
		border-color: $yellow-color;

		& .hotel__stars,
		& .hotel__price {
			color: $yellow-color !important;
		}
	}

	&__stars,
	&__price {
		transition: color 0.3s ease;
	}

	&__main {
		position: relative;
		max-height: 480px;
		min-height: 300px;
		padding-bottom: 20px;
	}

	&__name {
		color: $black-color;
		margin: 0;
		font-weight: 700;
		line-height: 1;
	}

	&__location {
		font-size: $font-hotel--sm;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 33%;
		max-width: 640px;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: $blue-color;
	}

	&__info {
		padding: 20px 0;
	}

	&__description {
		margin: 10px -10px 0;
		padding: 10px;
		background-color: #eee;
		border-radius: 5px;
		max-height: 300px;
		overflow-y: auto;
	}
	
	&__footer {
		margin: 20px 0 0;
	}

	&__btn {
		float: left;
	}

	&__price,
	&__availability {
		float: right;		
	}

	&__price {
		font-size: $font-hotel--lg;
		letter-spacing: 1px;
		line-height: 1;
		margin: 0;
		color: $blue-color;

	}

	&__availability {
		clear: right;
		color: $purple-color;
	}

	&__stars {
		color: $purple-color;
		width: 80px;
	}
}
	
